main {
  flex: 1;
  margin: 5% 15% 5% 15%;
}
main ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  height: 300px;
  width: 200px;
}

li.serv-item {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7);
}

li.serv-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px;
  margin-bottom: 5px;
  padding: 10px 20px 5px 10px;
}

li.serv-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: grid;
}

li.serv-item header .user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.des-item {
  padding: 20px;
}

.des-item h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px;
}

.des-item span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.des-item a {
  color: #22a7f0;
  font-size: 14px;
  text-decoration: none;
  margin-right: 50px;
}

.des-item a:hover {
  color: #333;
}

.des-item img {
  height: 120px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*BANNER*/
.banner {
  border-top: solid 0.5px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 0.5px #999;
}
.banner div {
  display: flex;
  flex-direction: row;
}
.banner div div img {
  height: 50px;
  width: 50px;
  margin: 0px 50px 0px 50px;
}

.banner div div {
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.banner div div:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.banner div div a {
  text-decoration: none;
  color: #333;
  margin-top: 10px;
}

.contract_serv {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 60px;
  width: 100%;
  background-color: #22a7f0;
  color: #fff;
}

.contract_serv img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
