.content-signup {
  display: flex;
  height: 100%;
  justify-content: center;
}

.boxsignup {
  height: 100%;
  width: 400px;
  background-color: #fff;
  flex-direction: column;
  display: flex;
  align-items: center;
}

h1.title {
  color: #22a7f0;
}

p.text1 {
  font-size: 32px;
  margin: 15px auto;
}
.boxsignup form {
  flex-direction: column;
  display: flex;
}

.boxsignup form input {
  width: 350px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #dcdce6;
  margin: 10px auto;
  padding-left: 0 10px;
}

.btn {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border: none;
  background: #22a7f0;
  color: #fff;
  font-size: 18px;
  transition: filter 0.2s;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
}
.btn:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.box-conta {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 40px;
  border-top: solid 1px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-conta p.text-conta {
  font-size: 18px;
  font-style: italic;
}

.box-conta a {
  margin: auto 5px;
  font-size: 18px;
  text-decoration: none;
  font-style: italic;
  color: #22a7f0;
  transition: filter 0.2s;
}

.box-conta a:hover {
  filter: brightness(80%);
}
