div.content-signup {
  display: flex;
  height: 100%;
  justify-content: center;
}

div#box {
  height: 100%;
  width: 400px;
  background-color: #fff;
  flex-direction: column;
}

h1.title {
  color: #22a7f0;
}

p.text1 {
  font-size: 32px;
  margin: 15px auto;
}
div#box form {
  flex-direction: column;
  display: flex;
}

div#box form input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: gray;
  margin: 10px auto;
  padding-left: 5px;
}

div#box form button.btn {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #22a7f0;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
}
div#box form button.btn:hover {
  cursor: pointer;
  background: #fff;
  color: #22a7f0;
}

div#box2 {
  display: flex;
  flex-direction: row;
}

div#box2 {
  width: 80%;
  margin-top: 40px;
  border-top: solid 1px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#box2 p.text2 {
  font-size: 18px;
  font-style: italic;
}

div#box2 a {
  margin: auto 5px;
  font-size: 18px;
  text-decoration: none;
  font-style: italic;
  color: #22a7f0;
}

div#box2 a:hover {
  color: #000000;
}
